body{
    background-image: linear-gradient(purple, blue);
    height: 800px;
}

.table{
   padding-top: 50px;
   padding-left:50px ;
    &__wrapper{}
    &__content{
     width: 100%;
     border-collapse: collapse;
     font-family: cursive;
     th,td{
        padding: 10px;
        border-bottom: 1px solid #ddd;
     }
     th{
        background-color: #222;
        opacity: .9;
        color: #fff;
        text-align: left;
     }
     tr{
        background-color: white;
        color: gray;
        &:nth-child(even){
            background-color: #eee;
        }
        &:hover{
            color: #000;
        }
     }
    }
}
